.navbar-bg{
    background-image: url("../../assets/19ce58c4d49883197ed1b2dac5108079.jpg");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:100%;
    min-height: auto;
}